@import '../../styles/variable.css';

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 46px 0;
  width: 94px;
  min-height: 650px;
  background-color: var(--brand-grey-20);
  border-radius: 0 8px 8px 0;
  z-index: 10;
}

.sidebar-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-list > li {
  margin: 57px 0 57px 0;
  list-style: none;

  &.selected {
      button {
        background-color: var(--brand-black);
        opacity: 1;
      }
    }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 56px;
  color: var(--brand-white);
  opacity: 0.64;
}
